.promoBar {
  background-color: #1b1b1b;
  color: #eee9e9;
  padding: 10px 0;
  font-size: 16px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.scrollingText {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
